.background-color-text {
  background-color: white;
  color: black;
}

//navbar titels + icons in contactPage
.title-text-navbar {
  color: black !important;
}

//font op alle paginas
.font-family-text {
  font-family: Arial, Helvetica, sans-serif;
}

