.background-color-text {
  background-color: white;
  color: black;
}

//navbar titels + icons in contactPage
.title-text-navbar {
  color: black !important;
}

.button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 700;

  &:hover {
    background-color: black;
    color: white;

    * {
      color: white;
    }
  }

}




