.background-text-color {
    background-color: white;
    color: black ;
}

//Visiona en creative video and photo producten house
.text-color {
  color:black
}

.aboutVisionaButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 700;

  &:hover {
    background-color: black;
    color: white;

    * {
      color: white;
    }
  }

}

.home_button_back_black{
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: 700;

  &:hover{
    background-color: white;
    color: black;

    * {
      color: black
    }
  }
}