.header {
    height: 60px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    .centered-links {
        flex-grow: 1; 
        justify-content: center;
        display: flex; 
      }
    
  }
  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-lg);
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }

  .smlink {
    display: flex;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 1000;
    font-size: var(--mantine-font-size-xl);
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }